.auth {
    width: 100%;
    display: flex;
    min-height: 100vh;
}

.auth > * {
    flex: 1;
}

.auth-sidebar {
    border-right: 1px solid var(--separator);
}

.auth-sidebar img {
    width: 544px;
    height: 409px;
    margin-left: 77px;
    margin-top: 218px;
}